<!DOCTYPE html>
<html lang="en">
<head>
    <h1 style="text-align: center"><a href="{{url_for('home')}}">Bnbria</a></h1>
    <div style="border-bottom: 1px lightgrey solid; width: 100%; height: 1px"></div>
</head>
<body style="text-align: center">
    <form method="post" style="margin-top: 20px">
        <h2>Update profile</h2>
        <div><b>Old password:</b> <input type="password" name="old_password" class="text-bar"></div>
        <div><b>New password:</b> <input type="password" name="new_password" class="text-bar"></div>
        <div><b>Confirm new password:</b> <input type="password" name="confirm_new_password" class="text-bar"></div>
        <div><b>Change Email:</b> <input type="text" name="email" class="text-bar" style="margin-left: 3px;"></div>
        <div style="margin-bottom: 10px"><b>Change preference:</b> </div>
        <div>Cleanliness: <input type="text" name="cleanliness" style="width: 40px"> Communication: <input type="text" name="communication" style="width: 40px"> Location: <input type="text" name="location" style="width: 40px"></div>
        <button style="margin-top: 20px" class="login-button">Register</button>
        {% if message %}
            <div style="font-size: 14px; color: green;">{{ message }}</div>
        {% endif %}
    </form>
</body>
</html>

<style>
    .text-bar{margin-bottom: 20px; height:18px; width:180px; font-size: 14px; padding: 3px}
    .login-button{margin-bottom: 20px; font-size:14px; width: 100px; height: 30px; background-color: orangered; color: white; border: none; cursor: pointer;}
</style>