<!DOCTYPE html>
<html lang="en">
<head>
    <h1 style="text-align: left; margin-left: 30px"><a href="{{url_for('home')}}">Bnbria</a> - Dashboard</h1>
    <div style="border-bottom: 1px lightgrey solid; width: 100%; height: 1px"></div>
</head>
<body style="text-align: left; padding-left: 30px">
<div style="margin-top: 40px">New property - Add a new property</div>
<div>Get property - Get a property info</div>
<div>Delete property - delete a property</div>
<div style="margin-top: 40px">Property filter - Get a property list by many different arguments</div>
<div>Get date price - Get properties datetime and price by ID</div>
<div style="margin-top: 40px">Price trend - Prediction for the property price in specific date.</div>
<div>Predict price - Get estimated price for property by estimating similar properties in the neighbourhood</div>
<div style="margin-top: 40px">{{ username }}  {{ email }}  {{ role }}</div>
<div>Preference: cleanliness - {{ cleanliness_weight }}, location - {{ location_weight }}, communication - {{ communication_weight }}</div>
<div>Change password</div>
<div>Change email</div>
<div>Change preference</div>


</body>
</html>

<style>
    .text-bar{margin-bottom: 20px; height:18px; width:180px; font-size: 14px; padding: 3px}
    .login-button{margin-bottom: 20px; font-size:14px; width: 100px; height: 30px; background-color: orangered; color: white; border: none; cursor: pointer;}
</style>